.grid {
  display: grid;
  grid-template-columns: repeat(6, 20px 1fr) 20px;
  grid-template-rows: repeat(6, 50px 1fr) 83px;
}

div .header_menu {
  grid-column: 2/5;
}

.headr_logo {
  grid-column: -2/-4;
  background-color: #22ff22;
}

.header_name {
  grid-column: 2/-2;
  grid-row: 2/3;
}

.pages {
  grid-column: 2/-2;
  grid-row: 3/4;
}

li { display: inline-block;}

.main_news {
  grid-column: 2/ span 6;
}
